{% extends "peticiones.html" %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            color: #007bff;
        }

        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }

        input[type="text"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #ffffff;
            border: none;
            cursor: pointer;
        }

        table {
            width: 70%;
            border-collapse: collapse;
            font-family: Arial, sans-serif;
            border-color: #000;
            margin: 0 auto;
            margin-top: 20px;
            padding: 20px;

        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .abono {
            color: green;
        }

        .cargo {
            color: red;
        }
    </style>
    <h1>Estado de Cuenta</h1>

    <form method="GET">
        <label for="nit">Filtrar por NIT del Cliente:</label>
        <input type="text" id="nit" name="nit" placeholder="Ingrese el NIT" required />
        <input type="submit" value="Consultar" />
    </form>

    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cargo</th>
                <th>Abono</th>
            </tr>
        </thead>
        <tbody>
            {% for factura in facturas %}
            <tr>
                <td>{{factura.fecha}}</td>
                <td class="cargo">Q{{factura.valor}} - (fact #{{factura.desc}})</td>
                <td></td>
            </tr>
            {% endfor %}
            {% for pago in pagos %}
            <tr>
                <td>{{pago.fecha}}</td>
                <td></td>
                <td class="abono">Q{{pago.valor}} - ({{pago.desc}})</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}
